img {
  padding-top: 1cm;
  padding-bottom: 1cm;
}

.disclaimer {
  font-weight: bold;
  font-style: italic;
}

.highlight {
  color: #e83e8c;
}

#videoContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}
